:root {
  --header-color: #ffffff;
  --title-color: #212121;
  --btn-color:#4D5AE5;
  --contact-color:#757575;
  --main-content-color:#757575;
  --accent-color:#404BBF;
  --background-color:#F5F4FA; 

}

body {
  font-family: 'Roboto', sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul, ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  height: auto;
}
textarea {
  resize: none;
}
input {
  font-family: inherit;
}
input::placeholder {
  color: var(--header-color) ;
}
.link {
 text-decoration: none;
}
.list {
  list-style:none;
}
.title {
  text-align: center;
  font-size: 36px;
  padding-bottom: 72px;
}
.visually-hidden {
  visibility: hidden;
}
.container {
/* width: 1200px; */
max-width: 320px;
/* padding-left: 15px;
padding-right: 15px; */
padding: 0px 16px;

}
[href="mailto:info@devstudio.com"] {
  color: var(--contact-color) 
}
[ href="tel:+380961111111"] {
  color: var(--contact-color);
}
/* --------------------------header---------------------- */
.header {
  border-bottom: 1px solid #ECECEC;
}
.header-list {
  display: flex;
}
.header-link {
  position: relative;
padding: 32px 0;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
display: block;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, 
.header-link:focus {
  color: var(--accent-color);
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header .container {
display: flex;
align-items: center;
}
.header-navigation {
display: flex;
display: none;
align-items: center;
}
.contact {
  display: none;
  margin-left: auto;
}
.header-logo {
font-weight: 700;
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.header-logo-part {
font-weight: 700;
font-family: inherit;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--title-color) ;  
}
.header-list {
  display: none;
  margin-left: 93px;
}
.current {
color:var(--accent-color)
}
.link.current::after {
display: inline-block;
content:"";
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background-color:var(--accent-color);
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:#434455;
}
.contact-link {
  display: flex;
  align-items: center;  
  fill: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover {
  color:var(--accent-color);
  fill:var(--accent-color);
}
.contact-link:focus {
  color:var(--accent-color);
  fill:var(--accent-color);
}
/* .contact-icon {
  margin-right: 10px;
} */
/* hero */
.hero {
color: var(--header-color);
padding: 200px 0px;
background-image: linear-gradient(
rgba(46, 47, 66, 0.70),
rgba(46, 47, 66, 0.70)
),
 url(../images/hero-bg.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-text {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align:center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--header-color);
}
.hero-text {
max-width: 696px;
margin-left: auto;
margin-right: auto;
}
.hero-btn {
  font-weight: 700;
  font-family:inherit;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--header-color);
background-color: #4D5AE5
}
.hero-btn {
  padding:  10px 32px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
border: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus-visible {
  background-color: var(--accent-color);
}
.section {
  /* padding: 120px 0px; */
  padding: 96px 0px;
}
.features {
  display: flex;
}
.features-picture {
  display:none;}
  /* display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;  
background-color: var(--background-color); 
} */
.features-icon { 
  display:none;
  /* display: flex;
  justify-content: center;
  align-items: center;    */
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-title {
    color: #2E2F42;
      text-align: center;
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 0.03em;
      text-transform: capitalize;
/* font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
margin-top: 30px; */
}
.features-item {
  display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}
.features-item:not(:last-child) {
  margin-bottom: 76px;
}
/* .features-item {
  width: 100%;
} */
/* .features-item:not(:last-child) {
  margin-right: 24px;
} */
.features-text {
  color:#434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
/* font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-content-color);
margin-top: 10px;
max-width: 270px; */
}
.work {
  padding-top: 0px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  }
  .work-list {
  display: flex;
  margin-top: 50px;
  
  }
  .work-img:not(:first-child) {
    margin-left: 30px;
  }
  /* .work-top-wrap {
    position: relative;
 } */
.work-top-text {
position: relative;
display:flex;
align-items: center;
justify-content: center;
background-color: rgba(47, 48, 58, 0.8);
color:var(--header-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
height: 70px;
}
.our-team {
background: var(--background-color);
} 
.card-set {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
display: flex;
flex-wrap: wrap;
}
.team-list {
display: flex;
margin-top: 50px;
} 
.master-soc-link {
width: 44px; 
height: 44px;
background-color: var(--header-color);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background: var(--btn-color);
fill: #F4F4FD;
transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}   
.master-soc-icon {
fill: F4F4FD;
transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.master-soc-link:hover, 
.master-soc-link:focus {
  background-color: var(--accent-color)
  }
  .master-soc-link:hover .master-soc-icon {
    fill:var(--header-color);
  }
  .master-soc-link:focus .master-soc-icon {
    fill:var(--header-color);
  }
  .master-soc {
    display: flex;
    justify-content: center;
  }
  .master-soc-item + .master-soc-item {
    margin-left: 10px;
  }
  .team-card {
background-color: #ffffff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
  }
  .team-card:not(:first-child){
margin-left: 24px;   
  } 
  .team-data {
  padding: 30px 0px;
  }
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-job {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-content-color);
  margin-top: 10px;
  margin-bottom: 16px;
}
/*------------- Main Portfolio----------------------- */
.portfolio {
    color: var(--title-color);
  }
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
margin-left: -30px;
}
.portfolio-card {
  width:360px;
  height: 420px;
margin-left: 30px;
margin-bottom: 30px;
background: #FFFFFF;
position: relative;
} 
.portfolio-cover-wrap {
position: relative;
overflow: hidden;
}
.portfolio-card:hover .portfolio-text-wrap {
 transform: translateY(0);
}
.portfolio-text-wrap {
  position: absolute;
  top: 0;
  background: var(--btn-color);
  height: 100%;
  display: flex;
  padding: 40px 32px 0 ;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.portfolio-cover-text{
  color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.portfolio-item:hover, 
.portfolio-item:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:hover .portfolio-top-text {
  transform: translateY(0%);
}
.portfolio-item:focus .portfolio-top-text {
  transform: translateY(0%);
}
.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-top-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color:var(--header-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}
.portfolio-data {
  border: 1px solid #EEEEEE;
  border-top: transparent;
  padding: 20px 24px;
}
.project-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--title-color);
}
.project-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-content-color);
margin-top: 4px;
}/* --------------------------------footer-------------------- */
.footer {
  background-color: #2E2F42;
  padding: 60px 0px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  }
  .footer-logo-part {
  font-family: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color) ;  
  } 
  .footer-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:#F4F4FD;
    margin-top: 16px;}
    .footer-nav {
      width: 264px;
      flex-shrink: 0;}
    .footer .container {
      align-items: baseline;
      display: flex;
    }
  .footer .container {
    align-items: baseline;
    display: flex;
  }
  .footer-soc {
    margin-left: 70px;
  }
.footer-title {
font-size: 16px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-soc-list {
  margin-top: 20px;
  display: flex;
}
.footer-soc-item:not(:first-child) {
margin-left: 10px;
}
.footer-soc-link {
  width: 44px; 
  height: 44px;
  background-color: var(--btn-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;    
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
.footer-soc-icon {
fill: #F4F4FD;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
background-color: #31D0AA;
}
.footer-soc-link:hover .master-soc-icon {
fill:var(--header-color);
}
.footer-form {
    margin-left:80px;
  }
  .footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
  margin-bottom: 16px;
  }
.footer-form-list {
display: flex;
margin-top:16px;
  }
.footer-email {
  display: flex;
  gap: 24px;
  }
.form-mail {
width: 264px;
height: 40px; 
border: 1px solid #FFF;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border-radius: 4px;
flex-shrink: 0;
color: var(--header-color);
}
.footer-button {
font-size: 16px;
font-weight: 500;
color: var(--header-color);
line-height: 1.5;
letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  border:none;
  background: #4D5AE5;
}
.footer-send-icon {
margin-left: 16px;
}
/* <-----modal-----> */
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
visibility: visible;
pointer-events: auto;
}
.is-open {
  opacity:1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop .is-open .modal {
  transform: scale(0.5);
}
.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  background:#fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1) ;
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color:#E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover  {
background-color: #404bbf;
border: none;
}
.modal-close-btn:focus {
background-color: #404bbf;
border: none;
}
.btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-close-btn:hover .btn-icon {
  fill:#FFFFFF;
}
.modal-close-btn:focus .btn-icon {
  fill: #FFFFFF;
}
.form-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 16px;
}
.form {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.form-field {
  width: 100%;
display: flex;
flex-direction: column;
margin-bottom: 8px;
}
.field {
  position: relative;
}
.form-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #2E2F4266;
}
.input-icon {
  width: 18px;
  height: 24px;
  top: 50%;
  position: absolute;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
border-color: #4D5AE5;
}
.form-input:focus + .input-icon {
  fill:#4D5AE5;
}
.form-field-comment {
  margin-bottom: 16px;
}
.comment {
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-top: 4px;
}
.comment:focus {
  border-color: #4D5AE5;
}
.comment:focus + .form-field-comment {
  border-color: #4D5AE5;
}
.form-policy {
margin-bottom: 24px;
}
.form-label-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display:block;
  margin-bottom: 4px;
  color: #8e8f99;
}
.privacy-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display:inline-flex;
  align-items: center;
  fill: transparent;
  justify-content: center;
}
.policy-link {
  color: #4D5AE5;
  font-size: 12px;
  line-height: 0.75;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
}
.checkbox:checked + .form-label-policy span {
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}
.approve-img {
  width:10px;
  height:8px;
  align-items: center;
}
.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  gap: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--header-color);
  background-color: #4D5AE5;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
  .container {
    width:768px;
  }
  .features {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-item {
    width: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0px 15px;
        /* top: 50%;
            transform: translateX(-50%); */
    }
    .features {
        /* max-width: 1158px; */
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .features-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-item {
        display: flex;
        width: calc((100% - 72px) / 4);}
    .features-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        margin-bottom: 8px;
    }
    .features-icon {
  display: flex;
  justify-content: center;
  align-items: center;   
    }
    .features-item {
      width: 100%;
    }
    .features-item:not(:last-child) {
      margin-right: 24px;
    }
    .features-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--title-color);
      margin-top: 30px;}
    .features-text {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--main-content-color);
      margin-top: 10px;
      max-width: 270px;
    }
}